.header {
    margin-top: clamp(5.5em, 15vw, 6em);
    animation: iniciarSection 1.5s;
}

.header-esquerdo {
    display: flex;
    flex-flow: column;
    text-align: center;
    line-height: 10px;
}

.imgheader {
    transition: 1s;
}
.imgheader:hover{
    opacity: 0.5;
}

.nome {
    cursor:default;
    font-size: clamp(2.5em, 3.3vw, 3em);
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;

    border-top: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);

    animation-name: piscando;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: 0.5s;
}
.nome:hover{
    border-top: 1px solid rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    letter-spacing: 2px;
    text-shadow: 4px 4px black;
}